@media (max-width: 767px) {
  #removeFavBtn {
    margin: 2vh 1vw 2vh 0;
    padding: 0.2em;
    font-size: 10px;
    color: white;
    border: 2px solid #ff0000;
    background: red;
    border-radius: 2px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  #removeFavBtn:hover {
    margin: 2vh 0.8vw;
    color: black;
    padding: 0.2em;
    font-size: 12px;
    border: 2px solid #ff0000;
    background: white;
    border-radius: 2px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #removeFavBtn {
    margin: 2vh 0.8vw;
    padding: 0.6em;
    font-size: 14px;
    color: white;
    border: 2px solid #ff0000;
    background: red;
    border-radius: 2px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  #removeFavBtn:hover {
    margin: 2vh 0.8vw;
    padding: 0.6em;
    font-size: 14px;
    color: black;
    border: 2px solid #ff0000;
    background: white;
    border-radius: 2px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
}

@media (min-width: 1200px) {
  #removeFavBtn {
    margin: 3vh 0.8vw;
    padding: 1em;
    font-size: 16px;
    color: white;
    border: 2px solid #ff0000;
    background: red;
    border-radius: 2px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  #removeFavBtn:hover {
    margin: 3vh 0.8vw;
    padding: 1em;
    font-size: 16px;
    color: black;
    border: 2px solid #ff0000;
    background: white;
    border-radius: 2px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
}

#noRacerTitle {
  margin-top: 20vw;
}
